@mixin svg_button
{
	svg
	{
		font-size: 2em;
		margin-right: 0.5em;
	}
}

.panel_header
{
	position: relative;

	h1
	{
		font-size: $h4-font-size;
		line-height: 1em;
		margin-left: 1em;
		margin-right: 1em;
	}
}

button.with_icon
{
	@include svg_button;
}

button.icon_is_button
{
	@include svg_button;
	background-color: transparent;
	color: $primary-color;
	margin: 0 auto;
	padding: 0;
}

h1
{
	text-align: center;

	svg
	{
		margin-right: 0.5em;
	}
}

.max_width_100
{
	overflow: auto;
}

.message_box
{
	border: solid gray thin;
	margin-bottom: 1em;
	padding: 0.5em 1em;

	&.failure
	{
		background-color: $warning-color;
	}
	&.success
	{
		background-color: $success-color;
	}
}

.remove_button
{
	text-align: right;

	button.remove
	{
		@include svg_button;
		background-color: transparent;
		color: $remove_color;
		margin: 0 auto;
		padding: 0em;
	}
}

div.save_button
{
	button
	{
		background-color: $info-color;
		@include svg_button;
	}
}

table
{
	width: 100%;
}

fieldset.collapsible
{
	legend
	{
		cursor: pointer;
	}
}