.description_container,
{
	@include grid-column( $columns : 12 );
	font-size: 80%;
	font-style: italic;
}
@media #{ $medium-up }
{
	.description_container,
	{
		@include grid-column( $columns : 8, $offset: 4 );
	}
}

.form_item_checkbox .description_container
{
	@include grid-column( $columns : 12, $offset: 0 );
}

/**
	Default settings for all input rows.
**/

form
{
	.form_item
	{
		@include grid-row();

		margin-bottom: 1em;

		.label_container
		{
			@include grid-column( $columns : 12 );
		}

		.input_container
		{
			@include grid-column( $columns : 12 );

			input
			{
				margin-bottom: 0;
			}
		}
	}

	@media #{ $medium-up }
	{
		.form_item
		{
			.label_container
			{
				@include grid-column( $columns : 4 );

				label
				{
					line-height: 2.5em;
				}
			}

			.input_container
			{
				@include grid-column( $columns : 8 );
			}
		}
	}

	.form_item_checkbox
	{
		@include grid-row();

		.label_container
		{
			@include grid-column( $columns : 11 );
		}

		.input_container
		{
			@include grid-column( $columns : 1 );
			line-height: 2.5em;
			text-align: right;
		}
	}

	/**
		Specialized sizes for various inputs.
	**/

	.form_item_number
	{
		.label_container
		{
			@include grid-column( $columns : 6 );
			text-align: right;

			label
			{
				line-height: 2.5em;
			}
		}

		.input_container
		{
			@include grid-column( $columns : 6 );
		}

		@media #{ $medium-up }
		{
			.label_container
			{
				@include grid-column( $columns : 6 );
			}

			.input_container
			{
				@include grid-column( $columns : 6 );
			}
		}
	}

	.form_item_submit input
	{
		@include button();
		border-radius: $global-radius;
	}

	.form_item_submit .input_container
	{
		@include grid-column( $columns : 12 );
		text-align: center;
	}
}

input.text
{
	width: 100%;
}
