.back_button
{
	margin-bottom: 1em;
	margin-top: 2em;
	cursor: pointer;
}

.hidden
{
	display: none;
}

.screen-reader-text
{
	position: absolute;
	left: -100000px;
}

.textcenter
{
	text-align: center;
}

button.disabled
{
	color: black;
	background-color: $gainsboro;
}

button,
.button
{
	border-radius: $global-radius;
}
