$primary-color: green;
$secondary-color: scale-color( #f4f6f8, $lightness: -25% );
$body-bg: #fcfcfc;
$success-color: #aeffb6;
$global-radius: 0.5em;

$remove_color: #c60000;
$info-color: #cdaf68;

$button-bg-hover: $primary-color;
$button-border-width: 0;
$button-border-style: solid;
$button-border-style: none;
$button-disabled-opacity: 0.25;
$button-border-color: scale-color( $secondary-color, $lightness: 50% );
