#competition_index
{
	.competition_name
	{
		font-size: 120%;
	}

	@include grid-row();

	button
	{
		@include grid-column( $columns : 12 );
		@include svg_button;
	}

	button.tools
	{
		$tools_color: #f0ff39;
		background: linear-gradient(to bottom, #eaefb5 0%,#e1e9a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
}
