#competition_registration
{
	.editable
	{
		td#name
		{
			cursor: pointer;
			text-decoration: underline;
			color: $primary-color;
		}
	}

	.lane_quicklook
	{
		font-size: 80%;
		text-align: center;
	}

	td#series.series_0
	{
		background-color: $success-color;
	}

	.form_item_number
	{
		.label_container
		{
			@include grid-column( $columns : 12 );
			text-align: left;
		}

		.input_container
		{
			@include grid-column( $columns : 12 );
		}

		@media #{ $medium-up }
		{
			.label_container
			{
				@include grid-column( $columns : 4 );
			}

			.input_container
			{
				@include grid-column( $columns : 8 );
			}
		}
	}
}
