#competition_results
{
	.money_div
	{
		.money
		{
			font-weight: bold;
		}
	}

	table
	{
		th#rank,
		td#rank,
		th.points,
		td.points,
		th#price,
		td#price,
		th#weapon_group,
		td#weapon_group
		{
			text-align: center;
		}

		td.points.precision.gold
		{
			background-color: orange;
		}

		td.points.precision.perfect
		{
			background-color: #F04124;
			color: white;
		}
	}
}
