#competition_scoring
{
	.lane_and_participant
	{
		background-color: $gainsboro;
		font-size: 150%;
		max-height: 1.5em;
		overflow: hidden;
	}

	.lane_selection
	{
		margin-bottom: 1em;
	}

	.series_selection
	{
		margin-bottom: 1em;
	}

	.series_number
	{
		font-size: 125%;

		span.series_number
		{
			font-weight: bold;
		}
	}

	.precision_total
	{
		text-align: center;
	}

	.big_input
	{
		font-size: 150%;
		height: auto;
		text-align: center;

		&.empty
		{
		}

		&:focus
		{
			background-color: #8dabff;
		}

		&:invalid
		{
			background-color: red;
		}

		&.not_empty
		{
			background-color: $success-color;
		}
	}
}
