#competition_settings_index
{
	.button_group
	{
		@include grid-row();

		button
		{
			@include svg_button;
		}

		.button_container
		{
			@include grid-column( $columns : 6 );
		}

		@media #{ $medium-up }
		{
			.button_container
			{
				@include grid-column( $columns : 6 );
			}
		}
	}
}

#competition_settings_lanes
{
	.individual_lanes
	{
		.lane
		{
			cursor: pointer;

			&.enabled
			{
				background-color: $success-color;
			}

			&.disabled
			{
				background-color: $warning-color;
			}

		}
	}
}

#competition_settings_series
{
	.current.series
	{
		margin-bottom: 1em;
	}

	.columns.number
	{
		text-align: center;
	}

	.series.type svg
	{
		font-size: 2em;
		margin-right: 0.5em;
		min-width: 1em;
	}
}
