#competition_tools
{
	.timer
	{
		.bar_container
		{
			border-color: $primary-color;
			border-width: thin;
			border-style: solid;
		}

		.bar_container,
		.message_container
		{
			margin-bottom: 1em;
		}

		.bar
		{
			background-color: scale-color( $primary-color, $lightness: 25% );
			height: 2em;
			line-height: 2em;
			width: 23%;
		}

		.button.unselected,
		.cancel.button
		{
			background-color: $secondary-color;
			color: black;
		}

		.time.button
		{
			padding-left: 0;
			padding-right: 0;
		}

		.message
		{
			text-align: center;
			font-size: 150%;
		}
	}
}
